<form [formGroup]="form" #fr="ngForm">

    <app-crud [form]="fr" titulo="Unidade de Medida" [api]="service">
      <div fxLayout="column" fxLayoutGap="6px">
  
        <mat-form-field fxFlex [appearance]="'outline'">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="descricao">
          <mat-error>{{descricao!.errors | erro}}</mat-error>
        </mat-form-field>
  
        <div fxLayout="row" fxLayoutGap="8px">

          <mat-form-field [appearance]="'outline'">
            <mat-label>Sigla</mat-label>
            <input matInput type="text" formControlName="sigla">
            <mat-error>{{sigla!.errors | erro}}</mat-error>
          </mat-form-field>
  
        </div>
      </div>
    </app-crud>
  </form>